<!DOCTYPE html>
<html>
  <head>
    <title>roam on rails</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <%# TODO %>
    <link rel=stylesheet href="https://prosemirror.net/css/editor.css">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">roam on rails</a>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <nav class="col-md-3 nav flex-column">
          <a class="nav-link" href="<%= notes_path %>">Notes & Tags</a>
          <a class="nav-link" href="#">Calendar</a>
          <a class="nav-link" href="<%= network_path %>">Network graph</a>
        </nav>

        <main class="col-md-9">
          <%= yield %>
        </main>

      </div>
    </div>

  </body>
</html>
