<!DOCTYPE html>
<html>
  <head>
    <title>roam on rails</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <nav class="col-md-2 nav flex-column bg-dark">
          <h5 class="nav-link pt-3 text-light">roam on rails</h5 class="nav-link">

          <a class="nav-link text-light" href="<%= note_path %>">Notes & Tags</a>
          <a class="nav-link text-light" href="#">Calendar</a>
          <a class="nav-link text-light" href="<%= network_path %>">Network graph</a>
        </nav>

        <%= yield %>

      </div>
    </div>

  </body>
</html>
